.container {
    margin: 10px 80px;
    padding: 2px;
  }

ul li {
    list-style: none;
    padding: 1px;
    margin: 20px;
    
  
  }

  .teams {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }